[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/yodasoda1219/stb.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/yodasoda1219/imgui.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/Vulkan-Headers"]
	path = vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/mono/submodules/debugger-libs"]
	path = vendor/mono/submodules/debugger-libs
	url = https://github.com/mono/debugger-libs.git
[submodule "vendor/mono/submodules/nrefactory"]
	path = vendor/mono/submodules/nrefactory
	url = https://github.com/yodasoda1219/nrefactory.git
	branch = net472
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
